<h3>View all MyTown Users</h3>

<%@users.each do |user|%>
<a href="/users/<%=user.id%>"><%=user.name%></a>
<%end%>
<br>
<br>
<br>

<p>***********************************</p>  
<%if !!session[:email]%>
<%@user = User.find_by(email: session[:email])%>
<br>
<%end%>
<a href="/cities">Explore all Cities</a>
<a href="/guides">Explore all Guides</a>
<a href="/location">Explore all Locations</a>