<h1>Set Up Your Profile!</h1>

<form action="/users" method="POST">
  <p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />
  </p>
  <p>
    <label for="bio">Bio:</label>
    <input type="text" name="bio" id="bio" />
  </p>
  
  <p>Would you like your profile and guides to be visible to non-users?</p>
  <input type="radio" name="yes" id="yes" value="Yes">Yes</input><br>
  <input type="radio" name="no" id="no" value="No">No</input><br>
  
  <input type="submit" />
  
</form>