<h1>Set Up Your Profile!</h1>

<form action="/users/<%=@user.id%>/new" method="POST">
  <p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />
  </p>
  <p>
    <label for="bio">Bio:</label>
    <input type="text" name="bio" id="bio" />
  </p>
  
  <input type="submit" />
  
</form>