<h2>All the Users</h2>


User.all each do |person|
<a href="user/{user.id}">{person.name}</a>
<a href="/profiles/{@user.id}">Seashell's Profile</a>

<h3>Hamid</h3>
<p>Cities:</p>

<h3>Gerald</h3>
<p>Cities:</p>

<h3>OJ</h3>
<p>Cities:</p>

<a href="/cities">View Guides by City</a>