<h2>Browse Guides by City</h2>
<br>
<%City.all.each do |city|%>
<h6><%=city.name%></h6>
<%Guide.all.each do |guide|%>
<%if guide.city == city %>
<a href="/guide/<%=guide.id%>"><%=guide.name%></a>
<br>
<%end%>
<%end%>
<%end%>
<br>
<p>***********************************</p>  
<%if !!session[:email]%>
<%@user = User.find_by(email: session[:email])%>
<a href="/users/<%=@user.id%>/">Return to Profile</a>
<br>
<%end%>

<a href="/locations">Explore all Locations</a>
<a href="/users">Explore all Users</a>
