<h2>Browse Guides (by City)</h2>
<br>
<%@cities.each do |city|%>
<h6><%=city.name%></h6>
<%@guides.each do |guide|%>
<%if guide.city == city %>
<a href="/guide/<%=guide.id%>"><%=guide.user%>'s <%=guide.name%></a>
<br>
<%end%>
<%end%>