<h3>Browse MyTown Guides by City:</h3>


<h5>City</h5>
<p>guide</p>
<p>guide</p>
<p>guide</p>

<h5>City</h5>
<p>guide</p>
<p>guide</p>
<p>guide</p>

<h5>City</h5>
<p>guide</p>
<p>guide</p>
<p>guide</p>

<%#City.all each do |item|
<a href = "/cities/<%=city.name%>" <%# >item.name</a>item.name