<h3>Edit Your Guide</h3>

<h5>Current Guide Name : -----------</h5>
<p>Edit Guide Name: _____________</p>

<h5>Current Guide City: -----------</h5>
<p>Edit City : _____________</p>
<p>or select a city from this list: </p>
<p>box</p>
<p>box</p>
<p>box</p>


<h5>Current description: -----------</h5>
<p>Edit description: _____________</p>

<h5>Locations</h5>
<p>location #1</p> <a href="location/{location.id}/edit">Edit</a> <p>Delete</p>
<p>location #2</p> <a href="location/{location.id}/edit">Edit</a> <p>Delete</p>
<p>location #3</p> <a href="location/{location.id}/edit">Edit</a> <p>Delete</p>

<p>Delete Guide</p>