<h2>Browse Guides by City</h2>
<br>
<%@cities.each do |city|%>
<h4><%=city%></h4>
<br>
<%city.guides.each do |guide|%>
<br>
<a href="guides/<%=guide.id%>"><%=guide.name%></a>
<br>
<%end%>
<%end%>


<%if !!session[:email]%>
<%@user = User.find_by(email: session[:email])%>
<a href="/users/<%=@user.id%>/">Return to Profile</a>
<a href="/locations">Explore all Locations</a>
<%else%>
<a href="/locations">Explore all Locations</a>
<%end%>