<h2>Browse Guides (by City)</h2>
<br>
<%@users.each do |city|%>
<h6><%=city.name%></h6>
<%@guides.each do |guide|%>
<%if guide.city == city %>

<a href="/guides/<%=guide.id%>> <%=guide.user%>'s Guide <%=guide.name%></a>
<%end%>
<%end%>
<%end%>