<h2>Browse Guides by City</h2>
<br>



<%@cities.sort_by(&:name).each do |city|%>
<h4><%=city.name%></h4>
<%city.guides.each do |guide|%>
<a href="guides/<%=guide.id%>"><%=guide.name%></a>
<br>
<%end%>
<%end%>

<p>***********************************</p>  
<%if !!session[:email]%>
<%@user = User.find_by(email: session[:email])%>
<a href="/users/<%=@user.id%>/">Return to Profile</a>
<br>
<%end%>
<br>

<a href="/users">Explore all Users</a>
<a href="/cities">Explore all Cities</a>
<a href="/locations">Explore all Locations</a>