<h3>Make a New Guide!</h3>

<p>Guide Name: ____________</p>
<p>Guide City: ____________</p>

<p> or, select from the list</p>
<p>city name</p>
<p>city name</p>
<p>city name</p>

<p>Guide Description: ________________</p>

<p>Add Locations</p>

<p>location form</p>
<p>location form</p>
<p>location form</p>
<p>location form</p>
<p>location form</p>
<p>location form</p>